.heading {
  padding-left: 30px;
  font-size: 2em;
}

.info {
  background-color: whitesmoke;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-top: 14vh;
  width: 60vw;
  border: 2px solid rgb(184, 184, 184);
  font-size: 2em;
  padding: 20px;
  border-radius: calc(0.1 * 100px);
  box-shadow: 0 4px 14px 0 rgba(70, 70, 70, 0.38);
}

.big {
  font-size: 2.5em;
}
